<div class="table-responsive">



    <div align="center" class="col-m-12">

        <h2>Lista de pedidos</h2>
    </div>



    <div *ngIf="showEmp; else elseBlock">
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha de nacimiento</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">ciudad</th>
                    <th scope="col">Cedula</th>



                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let item of lista; let i=index">
                    <td width="20">{{item.nombre}}</td>
                    <td width="20">{{item.fecha_nacimiento}}</td>
                    <td width="20">{{item.direccion}}</td>
                    <td width="20">{{item.ciudad}}</td>
                    <td width="20"> <a [href]="item.cedula" target="_blank"> VER PDF </a></td>

                </tr>

            </tbody>
        </table>
    </div>
    <ng-template #elseBlock>
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha de nacimiento</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Ciudad</th>




                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="6">No hay registros de pedidos</td>
                </tr>
            </tbody>
        </table>
    </ng-template>
</div>